body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-card {
    width: 380px;
    background: #e8f5e9;
    /* Verde muy suave */
    padding: 35px;
    border-radius: 22px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: relative;
}

.icon-circle {
    background: linear-gradient(135deg, #4caf50, #81c784);
    width: 70px;
    height: 70px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.login-logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

h2 {
    text-align: center;
    margin-top: 15px;
    color: #2e7d32;
    /* Verde oscuro */
    font-weight: 700;
}

label {
    font-weight: 600;
    color: #2e7d32;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #a5d6a7;
    background: #f1f8f1;
    font-size: 15px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #66bb6a, #388e3c);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.close-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 22px;
    color: #2e7d32;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
}

.close-modal:hover {
    transform: scale(1.2);
}

.toggle-text {
    text-align: center;
    margin-top: 10px;
}

.toggle-link {
    color: #388e3c;
    cursor: pointer;
    font-weight: 600;
}