:host {
    display: block;
    width: 100%;
    height: 100%;
}

.visor-container {
    width: 100%;
    height: 100%;
    background: #000000;
    position: relative;
}


/* Pannellum se encargar del CSS, solo dejamos el contenedor listo */

::ng-deep .pnlm-container {
    width: 100%;
    height: 100%;
}