.visor-3d-container {
  width: 100%;
  height: 70vh;     // más grande = más resolución real
  max-height: 700px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.visor-3d-container canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: auto !important;  // evita pixelado
}
