.reserva-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.card {
    padding: 15px;
    background: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    padding: 12px;
    background: #0c5f39;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}